@import "tailwindcss";

@theme extend {
  --color-primary: #007ea7;
  --color-secondary: #00a8e8;
  --color-tertiary: #003459;
}

body {
  display: flex;
  flex: 1;
  margin: 0;
  flex-direction: column;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
    
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, p{
  margin: 0;
}