@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #007ea7;
  --color-secondary: #00a8e8;
  --color-tertiary: #003459;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
    
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
